*.war
*.ear
*.zip
*.iml
*.pydevproject
.project
.metadata
.svn/
target/
build/
.gradle/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
local.properties
.classpath
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

.idea/
.idea
*.classpath
*.project
*.settings
